@using MVC_TicariOtomasyon.Models.Siniflar
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br/>
<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <td>ID</td>
        <td>ÜRÜN</td>
        <td>MARKA</td>
        <td>STOK</td>
        <td>ALIŞ FİYAT</td>
        <td>SATIŞ FİYAT</td>
        <td>KATEGORİ</td>
        <td>GÖRSEL</td>
        <td>Sil</td>
        <td>GÜNCELLE</td>
       
    </tr>
    @foreach(var u in Model)
    {
<tr>
    <td>@u.UrunID</td>
    <td>@u.UrunAd</td>
    <td>@u.Marka</td>
    <td>@u.Stok</td>
    <td>@u.AlisFiyati</td>
    <td>@u.SatisFiyati</td>
    <td>@u.Kategori.KategoriAd</td>
    <td>@u.UrunGorsel</td>
    <td>
        <a href="/Urun/UrunSil/@u.UrunID" class="btn btn-info">Sil</a>
    </td>
    <td>
        <a href="/Urun/UrunGetir/@u.UrunID" class="btn btn-success">Güncelle</a>
    </td>
</tr>
    }
</table>
<a href="/Urun/YeniUrun/" class="btn btn-primary">Yeni Ürün</a>


