@using MVC_TicariOtomasyon.Models.Siniflar
@model List<SatisHareket>     
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <td>ID</td>
        <td>Ürün</td>
        <td>Cari</td>
        <td>Personel</td>
        <td>Adet</td>
        <td>Fiyat</td>
        <td>Toplam</td>
        <td>Fiyat</td>
        <td>Güncelle</td>
        <td>Detaylar</td>
    </tr>
    @foreach (var k in Model)
    {

        <tr>
            <td>
                @k.SatisID
            </td>
            <td>
                @k.Urun.Urun
            </td>
            <td>
                @k.PersonelSoyad
            </td>
            <td>
                @k.PersonelGorsel
            </td>
            <td>
                @k.Departman.DepartmanAd
            </td>

            <td><a href="/Personel/PersonelGetir/@k.PersonelID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Departman/DepartmanPersonelSatis/@k.PersonelID" class="btn btn-group" style="background-color:lightcoral;color:white">Detaylar</a></td>


        </tr>
    }
</table>
<a href="/Personel/PersonelEkle/" class="btn btn-info">Personel Ekle</a>





